:root {
  --color-40: #000000;
  --color-30: #150050;
  --color-10: #3f0071;
  --color-10-highlight: #fb2576;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: var(--color-40);
  padding: 0px;
  margin: 0px;
  color: white;
  display: grid;
  grid-template: 1fr / 1fr;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

header {
  background-color: var(--color-30);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px 30px;
  border-radius: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  justify-self: end;
  gap: 20px;
}

nav > button {
  background-color: var(--color-30);
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px;
}

nav > button:hover {
  cursor: pointer;
  color: var(--color-10-highlight);
}

.logo {
  font-size: 4rem;
  align-self: start;
  padding-left: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: scale(1.2);
}

/* home page */
#content {
  height: 75vh;
  width: 100vw;
}
.home-wrapper {
  height: 100%;
  display: grid;
  grid-template: repeat(3, 1fr) / 2fr 1fr;
}

.welcome {
  grid-row: 1 / 4;
  margin: 20px;
  background-image: url("./assets/pinoy-handaan.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  opacity: 0.8;
}

.menuTab {
  margin: 20px;
  background-image: url("./assets/pinoy-menu.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  opacity: 0.6;
}

.orderTab {
  margin: 20px;
  background-image: url("./assets/ordering.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  opacity: 0.6;
}

.aboutTab {
  margin: 20px;
  background-image: url("./assets/about-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  opacity: 0.6;
}

.menuTab:hover,
.orderTab:hover,
.aboutTab:hover {
  opacity: 1;
  text-shadow: 2px 2px 5px var(--color-10-highlight);
  cursor: pointer;
}

.menuTab,
.orderTab,
.aboutTab {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 3rem;
  padding: 10px;
}

.menu-wrapper {
  height: 100%;
  display: grid;
  grid-template: repeat(auto-fill, max(450px)) / repeat(auto-fill, max(350px));
  justify-content: center;
}

.menu-wrapper > .menu {
  background-color: var(--color-10);
  margin: 20px;
  border-radius: 20px;
  border: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.85;
}

.menu-wrapper > .menu:hover {
  opacity: 1;
}

.menu-wrapper > .menu > img {
  height: 260px;
  width: 260px;
  opacity: 0.8;
  margin: 10px;
  border-radius: 10px;
}

.menu-wrapper > .menu > :not(:first-child) {
  margin: 5px 0px;
}

.menu-wrapper > .menu > button {
  background-color: var(--color-10-highlight);
  border: none;
  padding: 5px 20px;
  color: white;
  font-family: sans-serif;
  font-size: 1.12rem;
  font-weight: 800;
  border-radius: 30px;
}

.menu-wrapper > .menu > button:hover {
  transform: scale(1, 1.15);
  cursor: pointer;
}

/*about*/

.about-wrapper {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.about-wrapper > img {
  align-self: center;
  width: 100%;
  margin: 20px 0px;
  border-radius: 20px;
  opacity: 0.8;
}

.about-wrapper > h1 {
  font-size: 4rem;
  margin: 0px;
}

.about-wrapper > h3 {
  font-size: 2.5rem;
  margin: 40px 0px 10px 0px;
}

.about-wrapper > h1,
.about-wrapper > h3 {
  color: var(--color-10-highlight);
}

.about-wrapper > p {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 10px 0px 0px 0px;
  width: 98%;
}

.about-wrapper > button {
  background-color: var(--color-10-highlight);
  margin: 30px 0px;
  border: none;
  padding: 10px 40px;
  font-size: 2rem;
  border-radius: 30px;
}

.about-wrapper > button:hover {
  transform: scale(1, 1.1);
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-10-highlight);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-10);
}
